<% provide(:title, "Editing #{@page.name}") %>
<div class="body">
  <%= form_for(@content) do |f| %>
    <%= hidden_field_tag :name, @page.name %>
    <div class="edit_field">
      <%= f.text_area :words, :value => @current.words %>
    </div>
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
  <% end %>
</div>
