<div>
  <%= form_for(@content) do |f| %>
    <%= hidden_field_tag :id, @page.id %>
    <div class="field">
      <%= f.text_area :words, :value => @page.contents.first.words %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
