<% if params[:search] %>
  <% provide(:title, 'Search Results') %>
<% else %>
  <% provide(:title, 'Index') %>
<% end %>

<ul class="pages">
  <%= render @pages %>
</ul>

<div class =  "digg_pagination">
<%= will_paginate %>
</div>