@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #dadada;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}


/* typography */

h1, h2, h3, h4, h5, h6, p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 5px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}

.title {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 10px;
}

.edit_field {
    @include box_sizing;
}

textarea {
  border: 1px solid #bbb;
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  @include box_sizing;
}

.name {
  margin-bottom: 10px;
}

input {
  height: auto !important;
}

